<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
    <p><%= @body %></p>
    <p>Please click <%= link_to "here", "#{@resume}" %> to view my resume.</p>
  </body>
</html>
