// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-div {
  height: 800px;
  padding: 225px 0px 0px 200px;
  text-shadow: 2px 2px 8px black;
}

.heading {
  font-size: 85px;
}

.description {
  font-size: 24px;
  margin-top: 25px;
  width: 600px;
}

.title {
  // background-color: rgb(0, 192, 130);
  background-color: rgb(88, 184, 97);
  color: white;
}

.title .heading {
  font-size: 100px;
}

.title .description {
  margin-bottom: 25px;
}

.resumes-graphic {
  width: 600px;
}

.manage {
  text-shadow: 2px 2px 6px rgb(100, 100, 100);
}

.manage .heading {
  padding-top: 100px;
}

.mail-graphic {
  margin-left: 150px;
  width: 550px;
}

.share {
  color: rgb(240, 240, 240);
  background-color: rgb(114, 67, 232);
  height: 900px;
}

.share .heading {
  margin-top: 125px;
  margin-bottom: 25px;
}

.quote {
  padding-left: 25px;
}

.custom {
  text-shadow: 1px 1px 6px black;
  width: 175px;
  box-shadow: 2px 2px 2px black;
  margin-top: 50px;
  font-size: 24px;
}

@media (max-width: 375px) {
  .content-div {
    height: 550px;
    padding: 100px 0px 0px 50px;
  }
  .content-div .heading { font-size: 60px; }
  .description {
    font-size: 20px;
    width: 300px;
    margin-bottom: 0px;
  }
  .content-div .share { height: 550px; }
  .manage .heading {
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 15px;
  }
  .content-div .resumes-graphic { width: 300px; }
  .content-div .mail-graphic {
    margin: 30px 0px 0px 40px;
    width: 275px;
  }
  .share {
    height: 500px;
  }
  .share .heading {
    font-size: 32px;
    margin-top: -20px;
  }
  .custom { margin-left: 50px; }
}
